.auth-form {
    min-width: 400px;
    min-height: 400px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--card-color);
    font-size: 1.3rem;
}

.auth-form * {
    margin: 0.5rem;
}

.auth-form form {
    display: grid;
    margin: 0;
}

.auth-form input[type=text],
.auth-form input[type=password] {
    font-size: 1.5em;
    border: none;
    border-bottom: 1px solid black;
    background: var(--card-color);
    padding: 0 !important;
    margin: 10% 10% 0 10%;
    outline: none;
    padding: 5px;
}

.auth-form input[type=text]:focus {
    outline: none;
}

.auth-form input[type=submit] {
    font-size: 1.5em;
    border: none;
    border-bottom: none;
    border-radius: 5px;
    width: 10rem;
    height: 3rem;
    background: lightgreen;
    margin: 10% 10% 0 10%;

    transition: 500ms;
}

.auth-form input[type=submit]:hover {
    background: rgb(92, 105, 92);
}

.login-screen > .card {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
}