.cart {
    display: grid;
}

.cart input[type=button] {
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 0 5px;
}

.cart input[type=button]:hover {
    border: 1px solid black;
    border-radius: 10px;
}

.cart input[type=button]:hover:disabled {
    border: 1px solid transparent;
    cursor: initial;
}

.cart-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12%);
    border: 1px solid black;
    background: white;
    margin: 0.3rem 10%;
    padding: 1rem;
    justify-content: center;
    vertical-align: middle;
    max-height: 100px;
}

.cart-item img {
    max-width: 50%;
    max-height: 50%;
}

.card input[type=button] {
    border: 1px solid transparent;
    cursor: pointer;
}

.buy.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    min-width: 300px;
}

.buy.card h2{
    margin: 10%;
    padding: 0;
}

.buy.card input[type=button] {
    margin: 10%;
    font-size: 1.2em;
    border: none;
    border-bottom: none;
    border-radius: 5px;
    width: 10rem;
    height: 2rem;
    background: lightgreen;
    transition: 500ms;
}

.buy.card input[type=button]:hover {
    background: rgb(92, 105, 92);
}