.shopping-list-item {
    background: white;
    padding: 10px;
}

.shopping-list img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
}

.shopping-list-item * {
    max-width: 280px;
    max-height: 300px;
    display: grid;
    justify-content: center;
}

.shopping-list-item:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 300ms ease;
}